<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="log-path">${env:HOME}/embedded-jetty-starter/logs/api-logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n" />
        </Console>
        <RollingFile name="RollingFile" fileName="${log-path}/server.log"
                     filePattern="${log-path}/server-%d{yyyy-MM-dd}-%i.log" immediateFlush="false" append="false">
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="8192 KB" />
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.jetty" level="info"  />
        <Logger name="org.glassfish.jersey" level="info" />
        <Logger name="io.swagger" level="error" />
        <Root level="info" >
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>